    <p>Santiago Suárez Díaz</p>
    <picture>
        <source media="(max-width: 480px)"
                srcset="images/smartphone-yoppp.jpg"/>
        <img src="images/yoppp.jpg" alt="yoppp"/>
    </picture>
