<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image-icon" />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>El portaldonde podrá crear sus propios juedo!</p>
  </body>
</html>
