<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8"/>
    <title>Preguntas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image-icon" />
  </head>
  <body>
    <div id="page-wrap">
        <header class="main" id="h1">
            <h2>Quiz: el juego de las preguntas<h2>
        </header>
        <nav class="main" id="n1" role="navigation">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="quizes/question">Inicio</a></li>
            </ul>
        </nav>
        <main class="main" id="s1">
            <%- body %>
        <main>
        <footer class="main" id="f1">
            <a href="http://es.wikipedia.org/wiki/Quiz">¿Que es un Quiz?</a>
        </footer>
    </div>
  </body>
</html>
